body {
    font-family: Arial, sans-serif;
}

#pathToFile {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

.list__cells {
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 100px;
    text-align: center;
    padding: 7px;
    margin: 3px;
    color: white;
    background-color: grey;
    border-radius: 3px;
    border: 2px solid #252525;
    cursor: pointer;
}

.cell:hover {
    color: black;
    background-color: white;
}

.active {
    color: white;
    background-color: indianred;
}