body {
    font-family: Arial, sans-serif;
}

#microservices {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.microservice {
    width: 100px;
    text-align: center;
    padding: 7px;
    margin: 3px;
    color: white;
    background-color: grey;
    border-radius: 3px;
    border: 2px solid #252525;
    cursor: pointer;
}

.microservice:hover {
    color: black;
    background-color: white;
}

.active {
    color: white;
    background-color: indianred;
}